@font-face {
    font-family: "Unimed Sans";
    src: url("../fonts/unimedsans-regular-webfont.ttf");
}

@font-face {
    font-family: "Unimed Slab";
    src: url("../fonts/UnimedSlab-SemiBold.otf");
    font-weight: 600;
}