$default-grid-space: 15px;
$font-family: sans-serif;

$white: #FFF;
$black: #000;

$color-primary: #B1D34A;
$color-secondary: #0A5F55;
$color-tertiary: #ECF0F1;

$text-color: #8C8D8C;

$background: #F9F9FB;

$transition-time: 300ms;

$message-by-me-bg: $color-tertiary;
$message-received-bg: $color-primary;
