@import 'variables', 'normalize', 'globals', 'fonts';

.chat_plugin {
    &_holder {
        position: absolute;
        bottom: 30px;
        right: 30px;
        height: 80px;
        width: 80px;
        font-family: 'Unimed Sans';
        animation: overflow-anim 700ms;
    }

    &_button {
        background-image: url('../images/Carol.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 100%;
        height: 80px;
        width: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: slide-up 500ms ease;
        box-shadow: 5px 5px 10px 0px rgba($black, 0.2);
    }

    &_body {
        position: absolute;
        bottom: calc(100% + 10px);
        right: 0;
        opacity: 0;
        pointer-events: 0;
        max-height: 0px;
        overflow: hidden;
        height: 600px;
        min-width: 328px;
        width: 100vw;
        max-width: 50vw;
        transition: opacity $transition-time, max-height $transition-time;
        background-color: $background;
        border-radius: 2px;
        display: grid;
        grid-template-rows: 44px 1fr 70px;
        box-shadow: 0px 0px 10px 0px rgba($black, 0.2);

        &-opened {
            max-height: calc(100vh - 125px);
            opacity: 1;
        }
    }

    &_header {
        font-family: 'Unimed Slab';
        background-color: $color-secondary;
        color: $white;
        display: grid;
        grid-template-columns: 46px 1fr auto;
        padding: 4px 19px;
        gap: 15px;
        align-items: center;

        span {
            font-size: 18px;
            font-weight: 600;
        }
    }

    &_image_header {
        background-image: url('../images/Carol.png');
        background-position: center;
        background-size: cover;
        height: 46px;
        width: 46px;
        margin-bottom: -6px;
        z-index: 1;
    }

    &_close_btn {
        background: none;
        font-weight: bold;
        font-size: 25px;
        color: $white;
        padding: 0;
        padding-bottom: 6px;
        font-weight: normal;
    }

    &_messages_holder {
        padding: 10px;
        background-color: rgba($white, 0.1);
        overflow: auto;
        position: relative;
    }

    &_message {
        box-shadow: 1px 1px 7px 0px rgba($black, 0.2);
        display: flex;
        max-width: 80%;
        width: auto;
        padding: 10px 19px;
        position: relative;
        overflow: hidden;
        margin: 10px 0;
        box-sizing: border-box;
        font-size: 14px;
        animation: fade-in 250ms ease-in-out;
        clear: both;

        span {
            overflow: hidden;
            width: 100%;
            word-break: break-word;
        }

        &_received {
            background-color: $message-received-bg;
            float: left;
            margin-right: auto;
            border-radius: 12px 12px 12px 0px;
            color: $white;

        }

        &_by_me {
            background-color: $message-by-me-bg;
            float: right;
            margin-left: auto;
            border-radius: 12px 12px 0px 12px;
            color: $text-color;
        }
        &_image {
            img {
                width: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }

    &_form {
        display: grid;
        grid-template-columns: 1fr 36px 36px;
        gap: 10px;
        padding: 17px 19px;
        align-items: center;
        justify-items: center;
        align-content: center;

        input {
            border-radius: 20px;
            width: 100%;
            height: 35px;
            box-shadow: 0px 4px 8px rgba($black, 0.1);
            border: none;
            padding: 0px 16px;
            box-sizing: border-box;
        }

        button, label {
            background-color: $color-primary;
            height: 36px;
            width: 36px;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
        }
    }
    
    &_attach_button {
        position: relative;
        input {
            cursor: pointer;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            z-index: 1;
        }
        svg {
            pointer-events: none;
        }
    }
}

@keyframes slide-up {
    0% {
        transform: translateY(100px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes overflow-anim {
    0% {
        overflow: hidden;
    }

    100% {
        overflow: visible;
    }
}